<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Number of send an e-mail attempts before giving up -->
    <add key="NumberOfSendEmailRetries" value="3"/>
    <!-- Number of seconds to sleep after checking that all the worker role threads are up and running -->
    <add key="CheckDeadThreadSleepInSeconds" value="60"/>
    <!-- Number of seconds to wait before retrying if a message was dequeued -->
    <add key="QueueDequeueRetrySleepSeconds" value="3600"/>
    <!-- When using the Back Off pattern never let the e-mail worker thread sleep more than this number of seconds -->
    <add key="EmailWorkerMaxThreadSleepSeconds" value="30"/>
    <!-- When using the Back Off pattern never let the session-state worker thread sleep more than this number of seconds -->
    <add key="SessionStateWorkerMaxThreadSleepSeconds" value="60"/>
    <!-- Name of application, should match the one in the WebPages web.config -->
    <add key="ApplicationName" value="www.example.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- 
      PUT HTTP requests smaller than 1460 bytes are ineffecient with nagling turned on.
      See: http://blogs.msdn.com/b/windowsazurestorage/archive/2010/06/25/nagle-s-algorithm-is-not-friendly-towards-small-requests.aspx
    -->
    <add key="UseNaglingWithTable" value="true"/>
    <add key="UseNaglingWithQueue" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <!-- E-mail server settings -->
      <smtp from="do-not-reply@example.com">
        <network host="smtp.example.com" port="2525" userName="admin" password="admin" defaultCredentials="false"/>
      </smtp>
    </mailSettings>

    <connectionManagement>
      <!-- See http://social.msdn.microsoft.com/Forums/en-US/windowsazuredata/thread/d84ba34b-b0e0-4961-a167-bbe7618beb83 -->
      <add address="*" maxconnection="48"/>
    </connectionManagement>

    <settings>
      <!-- See http://social.msdn.microsoft.com/Forums/en-US/windowsazuredata/thread/d84ba34b-b0e0-4961-a167-bbe7618beb83 -->
      <servicePointManager expect100Continue="false"/>
    </settings>
    
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
