<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <!-- The name of your application, should match the one in the MultiThreadedWorkerRole app.config -->
    <add key="ApplicationName" value="www.example.com"/>
    <!--Web application's base url-->
    <add key="BaseUrl" value="http://www.example.com"/>
    <!-- Site culture. this should match the system.web::globalization setting -->
    <add key="SiteCulture" value="en-US"/>
    <!-- Set to true to force the HTTP requests to use HTTPS -->
    <add key="ForceHTTPS" value="False" />

    <!-- Company or organization name -->
    <add key="companyName" value="Example Corp"/>
    <!-- Company or organization address line #1 -->
    <add key="companyStreetAddress1" value="123 AnyStreet"/>
    <!-- Company or organization address line #2 -->
    <add key="companyStreetAddress2" value="AnyApartment 456"/>
    <!-- Company or organization city/town -->
    <add key="companyCity" value="Mountain View"/>
    <!-- Company or organization zip code -->
    <add key="companyZipCode" value="CA 94035"/>
    <!-- Company or organization zip code -->
    <add key="companyCountry" value="USA"/>
    <!-- Company or organization contact e-mail address -->
    <add key="companyContactEmail" value="sales@example.com"/>
    <!-- Company or organization contact phone -->
    <add key="companyContactPhone" value="+1 555 123-1234"/>
    <!--Company home in Twitter-->
    <add key="twitterHome" value="http://twitter.com/ExampleCorp"/>
    <!--Company home in Facebook-->
    <add key="facebookHome" value="https://www.facebook.com/ExampleCorp"/>
    <!--Company home in LinkedIn-->
    <add key="linkedInHome" value="http://www.linkedin.com/company/ExampleCorp"/>

    <!-- By default a administrator user is made and this is its sign in name -->
    <add key="AdminName" value="Admin"/>
    <!-- By default a administrator user is made and this is its e-mail -->
    <add key="AdminEmail" value="webmaster@example.com"/>
    <!-- By default a administrator user is made and this is its password -->
    <add key="AdminPassword" value="admin"/>
    <!-- By default a administrator user is made and this is its password retrieval question -->
    <add key="AdminQuestion" value="What is your favorite color?"/>
    <!-- By default a administrator user is made and this is its password retrieval answer -->
    <add key="AdminAnswer" value="Red"/>
    <!-- By default a role is created to hold administrators and this is its name. Admin is added to this role by default. -->
    <add key="AdminRoleName" value="Admins"/>
    <!-- By default a role is created to hold editors and this is its name. -->
    <add key="EditorRoleName" value="Editors"/>
    <!-- Pseudo role for all users. -->
    <add key="EveryoneRoleName" value="Everyone"/>
    <!-- Pseudo role when owning a resource -->
    <add key="OwnerRoleName" value="Owner"/>

    <!-- This is the e-mail address that will be the sender on all the e-mails sent by this application -->
    <add key="fromEmail" value="do-not-reply@example.com"/>
    <!-- This is the e-mail address that notification e-mails go to, like when a new user has just registered -->
    <add key="notificationsEmail" value="info@example.com"/>
    <!-- Release timestamp. Date with an optional time. Change to force usage of new JS and CSS files after deployment to the production environment -->
    <add key="rel" value="10-16-2014"/>
    <!-- A static key is used instead of machinekey to encrypt passwords since machinekey changes when in development -->
    <add key="StaticKey" value="1232520A3D5D9B045B4C408034564A794DB25CA888E62168764990DCE537184F0535D5D99956DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328"/>

    <!-- RSS feed admin e-mail -->
    <add key="rssEmail" value="webmaster@example.com"/>
    <!-- RSS feed editor e-mail -->
    <add key="rssManagingEditorEmail" value="webmaster@example.com"/>
    <!-- RSS feed name of editor -->
    <add key="rssManagingEditorName" value="Web master"/>
    <!-- RSS feed channel image -->
    <add key="rssChannelImage" value="/Images/Logo_77x77.png"/>
    <!-- RSS feed channel image width -->
    <add key="rssChannelImageWidth" value="77"/>
    <!-- RSS feed channel image height -->
    <add key="rssChannelImageHeight" value="77"/>
    
    <!-- Set to true to enable HTTP request hammering protection -->
    <add key="EnableReqHamProt" value="True" />
    <!-- Request hammering protection; maximum number of request a minute for each unique host address -->
    <add key="MaxNumberOfRequestAMinute" value="600"/>
    <!-- E-mail hammering protection; maximum number of e-mails per hour for each unique host address -->
    <add key="MaxNumberOfEmailsPerHour" value="10"/>
    <!-- Comments hammering protection; maximum number of comments per hour for each unique host address -->
    <add key="MaxNumberOfCommentsPerHour" value="10"/>
    <!-- Comments hammering protection; maximum number of comments per hour for each unique host address -->
    <add key="MaxNumberOfFailedPasswordsPerHour" value="5"/>

    <!-- Default CDN HTTP endpoint. Leave blank if you don't use Azure CDN-->
    <add key="CdnHttpEndpoint" value=""/>
    <!-- Default Blob HTTP endpoint-->
    <add key="BlobHttpEndpoint" value="http://example.blob.core.windows.net"/>
    <!-- Solution API Key. Used when allowing restricted access through the REST APIs-->
    <add key="API_Key" value="920SB5LZAC1ycAAABIwAABQEAzVTmieDIVz8wLjVIbhrmHVGzBk5Gm"/>
    <!-- Set to true to enable the Vera REST APIs -->
    <add key="EnableRestApis" value="true"/>

    <!--Email regular expression match-->
    <add key="EmailRegEx" value="^\S+@\S+\.\S+$"/>
    <!-- Number of seconds to wait before retrying if a message was dequeued in the Azure Queue-->
    <add key="QueueDequeueRetrySleepSeconds" value="3600"/>
    <!-- 
      PUT HTTP requests smaller than 1460 bytes are ineffecient with nagling turned on.
      See: http://blogs.msdn.com/b/windowsazurestorage/archive/2010/06/25/nagle-s-algorithm-is-not-friendly-towards-small-requests.aspx
    -->
    <add key="UseNaglingWithTable" value="false"/>
    <add key="UseNaglingWithQueue" value="false"/>
    <!-- The UTC date and time of day that the website was launched in the ISO8601 date format -->
    <add key="SiteLaunchDate" value="2014-09-01T00:00:00Z"/>
    <!-- Timespan of the virtual file cache sliding expiration -->
    <add key="VirtualFileCacheSlidingExpiration" value="1.00:00:00.0"/>
    <!-- Maximum number of concurrent connectons -->
    <add key="DefaultConnectionLimit" value="1000"/>
    <!-- Set to true to enable RDFa -->
    <add key="EnableRDFa" value="True"/>
    <!-- Preferred date format -->
    <add key="DateFormat" value="yyyy-MM-ddTHH:mm:ssZ"/>
    <!-- Default HTML encoding -->
    <add key="DefaultHtmlEncoding" value="utf-8"/>

    <!-- Set to true to enable BBCodes where applicable -->
    <add key="EnableBBCodes" value="True"/>
    <!-- BBCode image linking is forbidden by default since there is a risk of people linking images that slow the page down or destroy the page layout -->
    <add key="EnableBBCodeImages" value="False"/>
    <!-- BBCode font embedding is forbidden by default since there is a risk of people large font that it destroys the page layout -->
    <add key="EnableBBCodeFonts" value="False"/>

    <!-- Default frontpage template. Only used when the site is installed for the first time. -->
    <add key="FrontpageTemplate" value="Arcadia\FrontPage.aspx"/>
    <!-- Default page template as preselected in the editor when creating a new content page -->
    <add key="DefaultPageTemplate" value="Arcadia\NewsPage.aspx"/>
    <!-- Default forum post template as preselected in the forum editor when creating a new forum post -->
    <add key="DefaultForumPostTemplate" value="Arcadia\ForumPage.aspx"/>
    <!-- Default forum post rollup image -->
    <add key="DefaultForumPostRollupImage" value="/Images/forum64x64.png"/>
    <!-- Default style as preselected in the editor when creating a new content page -->
    <add key="DefaultStyle" value="SilverMoon"/>

    <!-- Se to "True" to enable HTML compression when release compiling -->
    <add key="EnableHtmlCompression" value="True"/>

    <!-- Set to True to enable the marketing research control. -->
    <add key="ShowMarketingResearchForm" value="True"/>
    
    <!-- Audio file types regular expessions used by the virtual file explorer -->
    <add key="AudioFilesRegEx" value="(.*?)\.(aac|au|mp2|mp3|wav|wma)$" />

    <!-- Code file types regular expessions used by the virtual file explorer -->
    <add key="CodeFilesRegEx" value="(.*?)\.(asp|aspx|config|cpp|cs|cxx|htm|html|js|php|vb|xhtml|xml|xtm)$" />

    <!-- Excel file types regular expessions used by the virtual file explorer -->
    <add key="ExcelFilesRegEx" value="(.*?)\.(xlsx|xlsm|xlsb|xltx|xltm|xls|xlt|xlam|xla|xlw)$" />

    <!-- Image file types regular expessions used by the virtual file explorer -->
    <add key="ImageFilesRegEx" value="(.*?)\.(gif|jif|jfif|jpeg|jpg|png|tif|tiff)$" />

    <!-- Movie file types regular expessions used by the virtual file explorer -->
    <add key="MovieFilesRegEx" value="(.*?)\.(3gp|asf|avi|flv|mov|mp4|mpg|mpeg|ogg|ogv|qt|wmw)$" />

    <!-- PDF file types regular expessions used by the virtual file explorer -->
    <add key="PdfFilesRegEx" value="(.*?)\.(fdf|pdf|xfdf)$" />

    <!-- Powerpoint file types regular expessions used by the virtual file explorer -->
    <add key="PowerpointFilesRegEx" value="(.*?)\.(pot|potm|potx|pps|ppsm|ppt|pptx|pptm|ppt|xps)$" />

    <!-- Text file types regular expessions used by the virtual file explorer -->
    <add key="TextFilesRegEx" value="(.*?)\.(lic|md|txt)$" />

    <!-- Word file types regular expessions used by the virtual file explorer -->
    <add key="WordFilesRegEx" value="(.*?)\.(doc|dot|docx|dotm|docb)$" />

    <!-- Zip file types regular expessions used by the virtual file explorer -->
    <add key="ZipFilesRegEx" value="(.*?)\.(7z|bz2|cab|gz|rar|pkzip|tar|tar.gz|z|zip|zipx)$" />
    
    <!-- Disable the Visual Studio 2013 browser link injection -->
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    
    <!-- ASP.NET forms authentication is enabled by default -->
    <authentication mode="Forms">
      <!-- Set the page to redirect to when the user attempts to access a restricted resource -->
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name=".ASPXFORMSAUTH" />
  </authentication>

  <!--<authorization>
    <deny users="?" />
  </authorization>-->        
    
    <!-- Set the site culture. This should match the "SiteCulture" app setting -->
    <globalization uiCulture="en" culture="en-US" />

    <!-- Vera has a custom ASP.NET membership provider that persists user data in the Azure table storage -->
    <membership defaultProvider="AzureMembershipProvider">
      <providers>
        <clear/>
        <add name="AzureMembershipProvider" type="VeraWAF.WebPages.Bll.AzureMembershipProvider" applicationName="www.example.com"
          enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>

    <!-- Vera has a custom ASP.NET profile provider that persists user profile data in the Azure table storage -->
    <profile enabled="true" defaultProvider="AzureProfileProvider">
      <providers>
        <clear/>
        <add name="AzureProfileProvider" type="VeraWAF.WebPages.Bll.AzureProfileProvider" applicationName="www.example.com"/>
      </providers>
      <properties>
        <clear/>
        <!-- User's gender -->
        <add name="Gender" type="System.Int32" defaultValue="-1"/>
        <!-- User's birhdate -->
        <add name="Birthdate" type="System.DateTime" defaultValue="-1"/>
        <!-- User's portrait image path -->
        <add name="PortraitBlobAddressUri" type="System.String" defaultValue=""/>
        <!-- User's country -->
        <add name="Country" type="System.String" defaultValue=""/>
        <!-- User's work industry -->
        <add name="Industry" type="System.String" defaultValue=""/>
        <!-- User's job category -->
        <add name="JobCategory" type="System.String" defaultValue=""/>
        <!-- User's company size -->
        <add name="CompanySize" type="System.String" defaultValue=""/>
        <!-- Admins comments -->
        <add name="ProfileComment" type="System.String" defaultValue=""/>
        <!-- True if the user subscribes to the site newsletter -->
        <add name="Newsletter" type="System.Boolean" defaultValue="True"/>
        <!-- User's IP address -->
        <add name="ClientIpAddress" type="System.String" defaultValue=""/>
        <!-- User's full name -->
        <add name="FullName" type="System.String" defaultValue=""/>
        <!-- User's employer -->
        <add name="Employer" type="System.String" defaultValue=""/>
        <!-- User's own description/signature -->
        <add name="Description" type="System.String" defaultValue=""/>
        <!-- User's authentication provider -->
        <add name="AuthProvider" type="System.String" defaultValue=""/>
        <!-- True if the user allows others to contact him/her through the site -->
        <add name="AllowContactForm" type="System.Boolean" defaultValue="True"/>
        <!-- Number of social points the user has -->
        <add name="SocialPoints" type="System.Int32" defaultValue="0"/>
        <!-- Number of forum posts the user has submitted -->
        <add name="NumberOfForumPosts" type="System.Int32" defaultValue="0"/>
        <!-- User's OAuth consumer key -->
        <add name="OAuthConsumerKey" type="System.String" defaultValue=""/>
        <!-- User's OAuth consumer secret -->
        <add name="OAuthConsumerSecret" type="System.String" defaultValue=""/>
      </properties>
    </profile>

    <!-- Vera has a custom ASP.NET role provider that persists roles in the Azure table storage -->
    <roleManager enabled="true" defaultProvider="AzureRoleProvider">
      <providers>
        <clear/>
        <add name="AzureRoleProvider" type="VeraWAF.WebPages.Bll.AzureRoleProvider" applicationName="www.example.com"/>
      </providers>
    </roleManager>
    
    <machineKey decryption="AES" decryptionKey="FCA3EFAF0F7A5E7A62681C0BF656EEFFFE31ACEE3E1023BA3FAD20EA5F199DEF" validation="SHA1"
      validationKey="448396CF27E32841EB374CF1D787713ABF42A2049DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328"/>
    
    <!-- 
    Session state provider is disabled by default. The Vera custom ASP.NET session state provider allows for user session state across the cloud 
    instances, and persists session state data in the Azure table storage. 
    -->
    <sessionState mode="Off">
      <providers>
        <clear/>
      </providers>
    </sessionState>
    
    <!-- Set the unhandled error page -->
    <customErrors mode="Off" defaultRedirect="~/ErrorPages/Generic.htm">
      <!-- Redirect page not found events to the search page so that the user can search for it -->
      <error statusCode="404" redirect="~/Search.aspx?mode=page-not-found"/>
    </customErrors>
    
    <httpRuntime requestValidationMode="2.0"/>
    
    <!-- Vera has a custom ASP.NET sitemap provider that storas its data in the Azure Table storage database -->
    <siteMap defaultProvider="AzureSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="AzureSiteMapProvider" type="VeraWAF.WebPages.Bll.AzureSiteMapProvider"/>
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
  <system.webServer>
    <!-- Show detailed error messages in the Web browser -->
    <httpErrors errorMode="Detailed" />
  
    <!-- Don't enable runAllManagedModulesForAllRequests as it creates performance issues -->
    <modules runAllManagedModulesForAllRequests="false"/>
    
    <handlers>
      <!-- The list below are static file types that are handled by Vera's custom ASP.NET virtual path provider -->
      <add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-GIF" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-HTM" path="*.htm" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-HTML" path="*.html" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-JPG" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-JPEG" path="*.jpeg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-PNH" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
    </handlers>

  </system.webServer>

  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <!-- Setup a REST API over HTTP -->
        <binding name="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.Binding" maxReceivedMessageSize="4096" crossDomainScriptAccessEnabled="true" />
        <!-- Uncomment to enable TLS/SSL -->
        <!--<binding name="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.SecureBinding" maxReceivedMessageSize="4096">
          <security mode="Transport">
          </security>
        </binding>-->
      </webHttpBinding>
    </bindings>

    <services>
      <!-- Setup the default Vera REST API that has content search and some admin functionality -->
      <service behaviorConfiguration="VeraWAF.WebPages.Interfaces.RestApi.Service.Behavior"
        name="VeraWAF.WebPages.Interfaces.RestApi">
        <endpoint address="" behaviorConfiguration="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.Behavior"
          binding="webHttpBinding" bindingConfiguration="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.Binding"
          contract="VeraWAF.WebPages.Interfaces.IRestApi" />
      </service>
      <!-- Setup a REST API that the users can extend upon -->
      <service behaviorConfiguration="VeraWAF.WebPages.Interfaces.RestApi.Service.Behavior"
        name="VeraWAF.WebPages.Interfaces.RestApiExt">
        <endpoint address="" behaviorConfiguration="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.Behavior"
          binding="webHttpBinding" bindingConfiguration="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.Binding"
          contract="VeraWAF.WebPages.Interfaces.IRestApiExt" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="VeraWAF.WebPages.Interfaces.RestApi.Endpoint.Behavior">
          <!-- Use JSON as the default data interchange format on our Vera REST APIs -->
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="VeraWAF.WebPages.Interfaces.RestApi.Service.Behavior">
          <!-- Get detailed error messages from the Vera REST APIs -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <!-- Tuning. See http://social.msdn.microsoft.com/Forums/en-US/windowsazuredata/thread/d84ba34b-b0e0-4961-a167-bbe7618beb83 -->
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
    <settings>
      <!-- Tuning. See http://social.msdn.microsoft.com/Forums/en-US/windowsazuredata/thread/d84ba34b-b0e0-4961-a167-bbe7618beb83 -->
      <servicePointManager expect100Continue="true"/>
    </settings>
  </system.net>

  <!-- Diagnostics -->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>