input[type="email"] {
    float: left;
    font-size: 1em;

    width: 20em;
    height: 3em;

    padding: 0 2em;

    position: absolute;

    font-family: 'Open Sans', Arial, sans-serif;
    display: inline;
    
    text-align: center;

    margin: 0;

    border: 1px solid #c8c8c8;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;

    background-color: transparent;
    left: 0;
}

#email-envelope {
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    font-size: 1.3em;
    color: #cccccc;
}

#email-remove {
    position: absolute;
    /*display: none;*/
    left: 17em;
    top: 0.7em;
    opacity: 0;
    font-size: 1.3em;
    color: #000000;

    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    cursor: hand;
}

#email-placeholder {
    width: 100%;
    height: 1.643em;

    line-height: 1.643em;

    position: absolute;

    left: 7.55em;
    top: 0.755em;

    color: #000000;
    display: none;
}

#email-background {
    position: absolute;
    width: 20em;
    height: 3em;
    padding: 0 2em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    background-color: #ffffff;
    opacity: 0.5;
    top: 0.143em;
    left: 0;
    display: block;
}
    