div.rssIconContainer 
{
    float: left;
    position: absolute;

    right: 0;
    top: 0;

    width: auto;
    height: auto;

    font-size: 1.3em;

    padding: 0.5em;
    margin: 0;

    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

div.rssIconContainer a.rssIcon {
    color: #000000;
    text-decoration: none;
}

div.rssIconContainer a.rssIcon:hover {
    color: #ffa500 !important;

    /* Smooth transitions*/
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
