.addthis_toolbox
{
    left: 49px;
    position: relative;
    top: -16px;
    width: 200px;
}

.plusone
{
    float: left;
    left: -585px;
    position: relative;
    top: 83px;
    width: 300px;
    height: 18px;
}
